<a href="https://colab.research.google.com/github/PRASADTAWARE4502/MyBusinessWebsite/blob/main/DSBDA4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pit
import seaborn as sns

In [4]:
df = pd.read_csv("/content/housing.csv")

In [5]:
df.head()

      RM  LSTAT  PTRATIO      MEDV
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0
4  7.147   5.33     18.7  760200.0

In [8]:
X = df[['RM','LSTAT','PTRATIO']]
Y = df['MEDV']

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.3, random_state = 42)

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [11]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, Y_train)
Y_pred = lr.predict(X_test)

In [12]:
print(Y_pred)

[347601.28410273 533923.56352585 432015.38401136 226371.46731514
 338442.28933378 410687.87905862 255085.6496009  765897.84407095
 365512.18598877 625489.4525274  478155.58960358 373031.77709601
 260061.90389556 258200.77439273 406729.07707269 555033.0881696
 402677.55955888 375952.20064046 381319.020201   436460.66243619
 480946.72465774 482776.20587298 384104.40286713 696779.75242921
 490360.89171788 494761.72535742 525698.66552375 681265.98542682
 734637.86857607 152050.14931311 546471.06083479 232217.72369473
 566678.93736061 533951.60068523 302812.56960095 526743.52534659
 678308.23837899 522897.02765304 720647.44288161 689495.22064833
 436576.92771793 421644.30030991 319277.90920569 471993.11947203
 398049.88663116 618045.35864736 352843.44563062 404146.59767472
 424531.21952511 401680.29611158 274409.57316322 622034.54295942
 606097.77041311 439560.29572181 529370.20803514 530348.83542711
 377106.0941929  560394.78526469 454202.92006332 270161.10928495
 500611.52436056 400483.06652747 549706.47299106 493756.35698279
 610736.98091818 826975.83649629 561753.41757762 569839.51664
 -23922.0890207  347720.60999755 276335.97813649 425489.34038702
 438375.61276982 476972.96462289 356735.63289345 479145.12239571
 486441.48759758 439620.62108872 546850.08689685 437093.81730695
 540003.77787012 610173.22069401 382025.66381659 276223.13874097
 501213.05635307 606782.58042444 455598.25109436 526090.10734427
 396951.66644033 431375.83134448 480451.19921116 418912.94300964
 387238.88171194 508096.66219818 410983.15377836 604123.14843743
 484932.93550692 277203.31126978 437481.22612258 283142.10883807
 445651.19714566 425466.78004405 559422.7913246  312878.98514786
 402335.2225684  424219.36130668 441463.37342019 518580.41258243
 567020.7788324  510792.94146296 332884.65232359 627452.21214249
 779517.08270557 396852.32036269 177166.00930181 419468.62885315
 795560.36761054 362427.24735889 346816.34566983 550632.45292944
 428861.72824262 404695.08957327 430635.55701578  86308.90138749
 346278.99453049 795369.8074184  455283.50172265 720979.16806097
 683553.51037908 350877.63602793 376910.65881488 413103.7033676
 513735.62083916 550373.92966967 723733.2085772  514013.84160007
 589344.35679738 367977.08556007 297417.85404874 607065.03356857
 455018.65691416 526821.1320113  584893.00859321 498102.073264
 462940.98239431 464240.1823053  363171.87820006]

In [17]:
print("Testing accuracy is: ")
lr.score(X_test,Y_test)

Testing accuracy is:

0.6449952009040019

In [15]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(Y_test, Y_pred))
print("Root mean square error is: ")
print(rmse)

Root mean square error is:
89987.31170641544

In [16]:
print("Traning accurecy is: ")
lr.score(X_train, Y_train)

Traning accurecy is:

0.7220172075811035